<section class="cart-show">

  <header class="page-header">
    <h1>Admin » Dashboard</h1>
  </header>

  <div class="alert alert-dark">
    <h3>
    <p>Jungle website currently has 
    <span class="badge badge-secondary"><%= @num_products %></span> products in a total of <span class="badge badge-secondary"><%= @num_categories %></span> categories</p></h3>
  </div>


</section>